<div class="container text-center">
  <h1>Generate Barcode From CSV File</h1>

  <div class="row justify-content-around align-items-center">
    <div class="col-auto mt-3">
      <input type="file" hidden #uploader (change)="uploadFile($event.target.files)">
      <button class="btn btn-success" (click)="uploader.click()" [disabled]="downloadFlag">
        <i class="fa fa-upload"></i>
        Upload
        <span class="spinner-border spinner-border-sm" *ngIf="uploadFlag"></span>
      </button>
    </div>

    <div class="col-auto" *ngIf="!downloadFlag">
      <button type="button" class="btn btn-info" [disabled]="generateFlag" (click)="generate()">
        <i class="fa fa-cog"></i>
        Generate
        <span class="spinner-border spinner-border-sm" *ngIf="generateSpinner"></span>
      </button>
    </div>

    <div class="col-auto" *ngIf="downloadFlag">
      <a class="btn btn-info" [href]="downloadURL" (click)="download()">
        <i class="fa fa-download"></i>
        Download
        <span class="spinner-border spinner-border-sm" *ngIf="downloadSpinner"></span>
      </a>
    </div>

  </div>
</div>